/* ==== Nodes ==== */
.custom-node {
    background: #2e2d44;
    border-color:  #6c5ce7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.custom-node-header {
    border-radius: 8px 8px 0 0;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    text-align: center;
    color: #dfe6e9;
    width: 100%;
    overflow: hidden;
}

.react-flow__node.selected .custom-node {
    border: 2px solid #ff0072 !important;
}

.custom-node-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background: #2c2c2c;
    color: white;
    padding: 0.25rem 0;
    font-size: 0.9rem;
    border-bottom: 1px solid #444;
}

.execute-button {
    background: transparent;
    border: none;
    color: #00ff99;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: color 0.2s, transform 0.1s;
}


.running-button {
    background: transparent;
    border: none;
    color: #FFA500;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
    transition: color 0.2s, transform 0.1s;
}

.execute-button:hover {
    color: #00ffaa;
    transform: scale(1.1);
}

/* ==== Tooltips & Labels ==== */
.custom-node small {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    color: #b2bec3;
}

.custom-node .title-input {
    font-size: 14px;
    padding: 2px 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

