.node{
    background: #ffffff;
    border-radius: 8px;
    min-width: 160px;
    border: 2px solid;
    transition: transform 0.1s ease;
    position: relative;
}

.node:hover {
    transform: scale(1.02);
}